.team
	flex 1

	&-container
		display flex
		width 100%
		margin 100px 0

	&-name
		display block
		width 100%
		border none
		font-size 1.2rem
		text-align center

	&-scorebox
		display block
		width 100%
		border none
		font-size 4rem
		font-weight 700
		text-align center


	&-one &
		&-name
			color $c-blue

		&-scorebox
			color $c-blue

	&-two &
		&-name
			color $c-yellow

		&-scorebox
			color $c-yellow

	&-three &
		&-name
			color $c-green

		&-scorebox
			color $c-green
