extends layouts/default

block content

	main.layout(role='main')
		table.table
			each topic,name in questions
				tr
					- var i = 0
					each question in topic
						td.table-item
							if i == 0
								= name
							else
								= i
							- i += 100
							span.table-question=question




