// Favorite constants
$gratio = 1.618
$pi = 3.14159

// Dimensions
$radius = 5px
$gutter = 5px

// Font properties

$font-family-base = Ubuntu, sans-serif

$base-font-size = 16px
$fw-normal = 400
$fw-medium = 500
$fw-semibold = 600
$fw-bold = 700

// Colors
$c-main = #417505
$c-blank = #fff
$c-gray = #dbdbdb

// teams
$c-blue = #3498db
$c-yellow = #f1c40f
$c-green = #2ecc71


// Breakpoints
$break320 = '(min-width: 320px)'
$break480 = '(min-width: 480px)'
$break768 = '(min-width: 768px)'
$break992 = '(min-width: 992px)'
$break1200 = '(min-width: 1200px)'

$break320M = '(max-width: 319px)'
$break480M = '(max-width: 479px)'
$break768M = '(max-width: 767px)'
$break992M = '(max-width: 991px)'
$break1200M = '(max-width: 1199px)'

$landscape = '(orientation: landscape)'
$portrait = '(orientation: portrait)'

// Animations
@keyframes spin
	0%
		transform rotate(0deg) translateZ(0)
	100%
		transform rotate(360deg) translateZ(0)

